
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li {
  display: inline;
}
// tittle input
.title {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline-block;
  width: 80px;
  height: 18px;
  padding: 3px;
  

}
// description  input
.desc {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline-block;
  width: 80px;
  height: 18px;
  padding: 3px;
 

}

// duedate input
.duedate {
  color:  black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline-block;
  width: 80px;
  height: 18px;
  padding: 3px;
 
}
// time input
.time {
  color:  black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline-block;
  width: 80px;
  height: 18px;
  padding: 3px;
  
}

.btn {
  margin-top: 20px;
  outline: none;
  box-shadow: none;
  border-width: 5px;
  border-radius: 25px;
  border-style: solid;
  padding: 8px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-primary {
  color: white;
  border-color: black;
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
  width: 20%;
  border: none;
  border-bottom: 2px solid grey;
  margin-right: 10px;
  padding: 5px;
  line-height: 17px;
}